.search-box {
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.search-box .search-text {
  width: calc(100% - 30px);
  height: 100%;
  border: none;
  border-radius: 3px;
  padding: 0;
  padding-left: 10px;
}
.search-box .search-text:focus {
  outline: none;
}
.search-box .search-text::-webkit-input-placeholder {
  color: #aaaaaa;
  font-size: 13px;
}
.search-box .search-text::-moz-placeholder {
  color: #aaaaaa;
  font-size: 13px;
}
.search-box .search-text:-ms-input-placeholder {
  color: #aaaaaa;
  font-size: 13px;
}
.search-box .btn-search {
  color: #999999;
  font-size: 14px;
}
